body {
  background-color: #131b23;
}

button {
  font-family: 'Aldrich', sans-serif;
  background: #fff7f8;
  border: none;
  border-radius: 20px;
  width: 20%;
  margin: 5px 2%;
  height: 30px;
  line-height: 30px;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.3);
}

.enterb {
  background-color: #667761;
}

.clearb {
  background-color: #f02d3a;
}

#buttonPad{
  display: block;
  margin: 0 auto;
}

#container {
  background-color: #edebd7;
  max-width: 300px;
  height: auto;
  margin: 30px auto;
  padding: 30px 5px 10px 5px;
  border-radius: 5px;
}
 h1{
   font-family: 'VT323', monospace;
   background-color: #6e675f;
   color: black;
   text-align: right;
   border-radius: 15px;
   margin: 0 auto;
   margin-bottom: 30px;
   width: 90%;
   height: 40px;
   line-height: 40px;
   padding-right: 10px;
   box-shadow: 1px 1px rgba(0, 0, 0, 0.2);
 }
